@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@using IdentityServer3.Core.Models
@model ScopeModel

<div class="panel-body claim-list">
    <form asp-action="EditClaim" asp-controller="Scope" class="claim-list">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Claim</th>
                    <th>Description</th>
                    <th>Always Included in Token</th>
                    <th>Edit | Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ScopeClaim claim in Model.Claims)
                {
                    @await Html.PartialAsync("ScopeClaimRow", new ScopeClaimModel(Model.Name, claim))
                }
            </tbody>
        </table>
    </form>
</div>