<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>

    <!-- build:css -->
    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/main.css">
    <!-- endbuild -->



</head>

<body lang="en">

    <div class='container permissions' ng-cloak>

        <div class="row">
            <div  class="col-xs-12 text-center">
                <img title="FSW" src="https://fsw-res.cloudinary.com/image/upload/v1452553297/logos/fsw-logo.svg" alt="FSW" class="fsw-logo">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>
                    {{model.clientName}}
                    <small>is Requesting Your Permission</small>
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div ng-show="model.errorMessage" class="alert alert-danger">
                    <strong>Error:</strong>
                    {{model.errorMessage}}
                </div>

                <form name="form" method="post" action="{{model.consentUrl}}">
                    <anti-forgery-token token="model.antiForgery"></anti-forgery-token>

                    <p class="text-fsw text-center">Uncheck the permissions you do not wish to grant.</p>

                    <div class="panel panel-default" ng-show="model.identityScopes">
                        <div class="panel-heading">
                            <span class="fa fa-user"></span>
                            Personal Information
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li ng-repeat="scope in model.identityScopes" class="list-group-item">
                                    <label>
                                        <input class="consent-scopecheck" type="checkbox" name="scopes" id="scopes_{{scope.name}}" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="scope.required" />
                                        {{scope.displayName}}
                                        <span ng-show="scope.required"><em>(required)</em></span>
                                    </label>
                                    <div ng-show="scope.description">
                                        <label for="scopes_{{scope.name}}">{{scope.description}}</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="panel panel-default" ng-show="model.resourceScopes">
                        <div class="panel-heading">
                            <span class="fa fa-key"></span>
                            Application Access
                        </div>
                        <ul class="list-group">
                            <li ng-repeat="scope in model.resourceScopes" class="list-group-item">
                                <label>
                                    <input type="checkbox" name="scopes" value="{{scope.name}}" ng-model="scope.selected" ng-disabled="scope.required" />
                                    {{scope.displayName}}
                                    <span ng-show="scope.required"><em>(required)</em></span>
                                </label>
                                <div ng-show="scope.description">
                                    <label for="scopes_{{scope.name}}">{{scope.description}}</label>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div ng-show="model.allowRememberConsent">
                        <label>
                            <input class="consent-scopecheck" type="checkbox" name="RememberConsent" value="true" ng-model="model.rememberConsent" />
                            Remember My Decision
                        </label>
                    </div>

                    <div>
                        <button name="button" value="yes" class="btn btn-primary" autofocus>Yes, Allow</button>
                        <button name="button" value="no" class="btn">No, Do Not Allow</button>
                        <a class="pull-right btn btn-info what-is" target="_blank" ng-show="model.clientUrl" ng-href="{{model.clientUrl}}">
                            <span class="fa fa-question"></span>
                            {{model.clientName}}
                        </a>
                    </div>

                </form>

            </div>
        </div>

    </div>

    <!-- Scripty Things -->
    <script id='modelJson' type='application/json'>
        {model}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/libs/encoder/encoder.min.js"></script>
    <script src="/idsrvr.js"></script>

</body>

</html>
