<!DOCTYPE html>
<html ng-app="app" ng-controller="LayoutCtrl">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{siteName}</title>

    <!-- build:css -->
    <link rel="stylesheet" href="/assets/vendor.css">
    <link rel="stylesheet" href="/assets/main.css">
    <!-- endbuild -->


</head>

<body lang="en">

    <div class='container permissions' ng-cloak>

        <div class="row">
            <div  class="col-xs-12 text-center">
                <img title="FSW" src="https://fsw-res.cloudinary.com/image/upload/v1452553297/logos/fsw-logo.svg" alt="FSW" class="fsw-logo">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <h1>Client Application Permissions</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

                <div class="row">
                    <div class="col-xs-12">
                        <div ng-show="model.errorMessage" class="alert alert-danger">
                            <strong>Error:</strong>
                            {{model.errorMessage}}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12" ng-hide="model.clients">
                        <div class="alert alert-info">You have not given permission to any applications</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="permissions">
                            <div ng-repeat="client in model.clients" class="panel panel-default revoke-group">
                                <div class="panel-body">
                                    <div>
                                        <div>{{client.clientName}}</div>
                                        <div ng-show="client.identityPermissions">
                                            <div>Identity Permissions</div>
                                            <ul>
                                                <li ng-repeat="permission in client.identityPermissions" ng-bind="permission.displayName"></li>
                                            </ul>
                                        </div>
                                        <div ng-show="client.resourcePermissions">
                                            <div>Resource Permissions</div>
                                            <ul>
                                                <li ng-repeat="permission in client.resourcePermissions" ng-bind="permission.displayName"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <form name="form" method="post" action="{{model.revokePermissionUrl}}" class="consent-form">
                                            <anti-forgery-token token="model.antiForgery"></anti-forgery-token>
                                            <input type="hidden" name="clientId" value="{{client.clientId}}">
                                            <button class="btn btn-danger">Revoke Access</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Scripty Things -->
    <script id='modelJson' type='application/json'>
        {model}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script src="/libs/encoder/encoder.min.js"></script>
    <script src="/idsrvr.js"></script>

</body>

</html>
