@{
    ViewBag.Title = "Cancel";
}

<div class="container">
    <div class="page-header">
        <h2>
            Verification Cancelled
        </h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    </div>
</div>

<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
                <p>
                    The request that was emailed to you is now cancelled.
                </p>
                <p>Thanks!</p>
            </div>
        </div>
    </div>
</div>