@{
    ViewBag.Title = "Cancel";
}

@Html.ValidationSummary()

<div class="page-header">
    <h1>Registration Cancelled</h1>
</div>


<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel-default">
                Your account has been closed.
                If you would like to re-register click @(Html.ActionLink("here", "Index", "Register")).
                <p>Thanks!</p>
            </div>
        </div>
    </div>
</div>