@{
    ViewBag.Title = "Errors";
}

<div class="page-header">
    <h1>Errors</h1>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="alert alert-danger">
            @Html.ValidationSummary()
        </div>
    </div>
</div>


