@model Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Create an Account</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        <div class="panel panel-default">
            <div class="panel-body">
                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                if (!Html.ViewData.ModelState.IsValid)
                {
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert alert-danger">
                            @Html.ValidationSummary("Please correct the following errors")
                        </div>
                    </div>
                </div>
                }

                <div class="row">
                    <div class="col-xs-12">
                        <fieldset>
                            @Html.EditorForModel()
                            <div class="text-center">
                                <button class="btn btn-primary">Create an Account</button>
                            </div>
                        </fieldset>
                    </div>
                </div>
                }
            </div>
        </div>

    </div>
</div>