@model Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

<div class="container">
    <div class="page-header">
        <h1>
            Registration Success
        </h1>
    </div>
</div>

<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
                @if (true.Equals(ViewData["RequireAccountVerification"]))
                {
                    <p>
                        You should recieve an email shortly
                        @if (Model != null)
                        {
                            @: at @Model.Email
                        }.
                        It will contain instructions to verify your account
                        so that you can login.
                    </p>
                }
                else
                {
                    <p>You can now login @Html.ActionLink("here", "Index", "Login").</p>
                }
                <p>Thanks!</p>
            </div>
        </div>
    </div>
</div>