@model Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models.RegisterInputModel
@{
    ViewBag.Title = "Register";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Registration Success</h1>
    </div>
</div>

<div class="row confirm-account">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <div class="row">
            <div class="col-xs-12 text-center">
                @if (true.Equals(ViewData["RequireAccountVerification"]))
                {
                <p>
                    You should recieve an email shortly
                    @if (Model != null)
                    {
                        @: at @Model.Email
                    }.
                    It will contain instructions to verify your account
                    so that you can login.
                </p>
                }
                else
                {
                <p>You can now login @Html.ActionLink("here", "Profile", "UserAccount").</p>
                }
                <p>Thanks!</p>
            </div>
        </div>

    </div>
</div>