@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<p>
    Password changed successfully. 
    Click @Html.ActionLink("here", "Edit", "Profile", new { area = "UserAccount" }, null) to return to account details.
</p>
