@model Fsw.Enterprise.AuthCentral.Models.CreateAccountInputModel
@{
    ViewBag.Title = "Auth Central User Account Adminstration";
}

<div><em>@ViewData["Message"]</em></div>
@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors")
    @Html.AntiForgeryToken()

    <div>
        @Html.EditorForModel()
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
}