@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@model ClientChildListContainer<string>

@{
    Layout = "~/Areas/Admin/Views/Shared/_ClientAdminLayout.cshtml";
    ViewBag.Title = "View Client Redirect Uri's";
}

@for(var i=0; i < Model.ChildList.Count; i++)
{
    @using (Html.BeginForm("Save", "ClientAllowedScope", new { clientId = Model.ClientId, area = "Admin" }, FormMethod.Post, new { @id="edit-form-" + i, @class = "form-inline"} )) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.ClientId)

        <div class="form-group">
           <div>
               <input type="hidden" class="form-control" id="originalAllowedScope_@i" name="originalAllowedScope" placeholder="openid" value="@Model.ChildList[i]">
               <input type="text" class="form-control" id="allowedScope_@i" name="allowedScope" placeholder="openid" value="@Model.ChildList[i]">
           </div>
        </div>
        <div class="form-group">
            <input type="button" value="Save" class="btn btn-success" onclick="javascript: document.forms['edit-form-@i'].submit();" />
            <input type="button" value="Delete" class="btn btn-warning" onclick="javascript: document.forms['edit-form-@i'].action = '/admin/clientallowedscope/delete/@Model.ClientId'; document.forms['edit-form-@i'].submit();" />
       </div>
       <hr />
    }
}
