@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@model ClientChildListContainer<string>

@{
    Layout = "~/Areas/Admin/Views/Shared/_ClientAdminLayout.cshtml";
    ViewBag.Title = "View Client Logout Uri's";
}

@for(var i=0; i < Model.ChildList.Count; i++)
{
    @using (Html.BeginForm("Save", "ClientLogoutUri", new { clientId = Model.ClientId, area = "Admin" }, FormMethod.Post, new { @id="edit-form-" + i, @class = "form-inline"} )) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => Model.ClientId)

        <div class="form-group">
           <div>
               <input type="hidden" class="form-control" id="originalPostLogoutUri_@i" name="originalPostLogoutUri" placeholder="http://new-app.fsw.com/" value="@Model.ChildList[i]">
               <input type="url" class="form-control" id="postLogoutUri_@i" name="postLogoutUri" placeholder="http://new-app.fsw.com/" value="@Model.ChildList[i]">
           </div>
        </div>
        <div class="form-group">
            <input type="button" value="Save" class="btn btn-success" onclick="javascript: document.forms['edit-form-@i'].submit();" />
            <input type="button" value="Delete" class="btn btn-warning" onclick="javascript: document.forms['edit-form-@i'].action = '/Admin/ClientLogoutUri/Delete/@Model.ClientId'; document.forms['edit-form-@i'].submit();" />
       </div>
       <hr />
    }
}
