@using Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models
@model PasswordResetInputModel
@{
    ViewBag.Title = "Reset Password";
}

<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@ViewBag.Title</h3>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        if (!Html.ViewData.ModelState.IsValid)
                        {
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <div class="alert alert-danger">
                                        @Html.ValidationSummary("Please correct the following errors")
                                    </div>
                                </div>
                            </div>
                        }

                        <fieldset>

                            @Html.EditorForModel()

                            <div class="form-group">
                                <button class="btn btn-primary">Submit</button>
                            </div>

                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>