@{
    ViewBag.Title = "Reset Request Sent";
}

<div class="container">
    <div class="page-header">
        <h2>Reset Request Sent</h2>
    </div>
</div>

<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <p>
                You have been sent an email to confirm your request
                to reset your password. Once you have recieved the email
                you can follow the instructions to set a new password.
            </p>
            <p>Thanks!</p>
        </div>
    </div>
</div>