@{
    ViewBag.Title = "Reset Request Sent";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Password Reset Request Sent</h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center">
        <p>You have been sent an email to confirm your request to reset your password. Once you have recieved the email you can follow the instructions to set a new password.</p>
    </div>
</div>