// Body Classes

body {
	margin-top: 0;
}


// Header Classes

header {

	&.navbar {
		height: 50px;
		padding: $padding-small-vertical*3 0;
		background-color: $gray-darker;
	}

	.fsw-logo {
		float: left;
		width: 50px;
	}

	span {
		display: block;
		float: left;
		margin-top: 9px;
		font-size: $font-size-base+2;
		line-height: .8;
		color: $brand-fsw;
	}

	.dropdown-toggle {
		display: block;
		float: right;
		width: 50px;
    height: 50px;
    margin: -15px 0;
		background-color: $gray-base;
		font-size: $font-size-h3 - 2;
		text-align: center;
		line-height: 2.4;
		color: $text-contrast;

		&:hover,
		&:active,
		&:focus {
			background-color: $brand-fsw;
		}

	}

	.dropdown-menu {
    top: 35px;
    right: 0;
  	left: auto;
    min-width: 160px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 0 0 0 $border-radius-base;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);

    li {

    	&.bottom-border {
    		border-bottom: 1px solid $gray-lighter;
    	}

    	a {
	    	padding: $padding-small-vertical $padding-large-horizontal;
	    	text-align: right;
	    	color: $gray;

	    	&:hover {
	    		background-color: lighten($gray-lighter, 2%);
	    		color: $gray-dark;
	    	}

	    }

	    &:last-child {

    		a {
    			border-radius: 0 0 0 $border-radius-base;
    		}

    	}

    	&.logout {

    		a {
    			background-color: $gray-lighter;
    			color: $gray-dark;

    			&:hover {
    				background-color: darken($gray-lighter, 5%);
    			}

    		}

    	}

    }

	}

	@media only screen and (min-width:768px) {

		.dropdown-menu {
	    border-radius: 0 0 $border-radius-base $border-radius-base;

	    li {

		    &:last-child {

	    		a {
	    			border-radius: 0 0 $border-radius-base $border-radius-base;
	    		}

	    	}

	    }

		}

	}

}


//Content Classes

.body-content {
	margin-top: $margin-large-vertical*7;
	margin-bottom: $margin-large-vertical*4;

	@media only screen and (min-width:768px) {

		margin-top: $margin-large-vertical*8.5;

	}

}


// Footer Classes

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: $padding-small-vertical;
	background-color: $gray-darker;
	font-size: $font-size-small;
	text-align: center;
	color: $gray-lighter;
}