// Body Classes

body {
	margin-top: 0;
}


// Header Classes

header {

	&.navbar {
		height: 50px;
		padding: $padding-small-vertical*3 0;
		background-color: $gray-darker;
	}

	.fsw-logo {
		float: left;
		width: 50px;
	}

	span {
		display: block;
		float: left;
		margin-top: 9px;
		font-size: $font-size-base+2;
		line-height: .8;
		color: $brand-fsw;
	}

	.dropdown-toggle {
		display: block;
		float: right;
		width: 50px;
    height: 50px;
    margin: -15px;
		background-color: $gray-base;
		font-size: $font-size-h3 - 2;
		text-align: center;
		line-height: 2.4;
		color: $text-contrast;

		&:hover,
		&:active,
		&:focus {
			background-color: $brand-fsw;
		}

	}

	.dropdown-menu {
    top: 35px;
    right: 0;
  	left: auto;
    min-width: 160px;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border: none;
    border-radius: 0 0 0 3px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.175);

    li a {
    	padding: $padding-small-vertical $padding-large-horizontal;
    }

	}

}


//Content Classes

.body-content {
	margin-top: $margin-large-vertical*6;
}


// Footer Classes

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: $padding-small-vertical;
	background-color: $gray-darker;
	font-size: $font-size-small;
	text-align: center;
	color: $gray-lighter;
}