@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@model ClaimModelContainer

@{
    Layout = "~/Areas/Admin/Views/Shared/_ClientAdminLayout.cshtml";
    ViewBag.Title = "View Client Claim";
}

<div class="row">
    <div class="col-md-12" >
        <a class="btn btn-success" href="/Admin/ClientClaim/Create/@Model.ClaimantId">Create Claim</a>
    </div>
</div>

@foreach(var clientClaim in Model.Claims)
{
    <hr />
    @using (Html.BeginForm("Delete", "ClientClaim", new { claimantId = Model.ClaimantId, area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ClaimantId)
        @Html.DisplayFor(model => clientClaim)

        <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Delete" class="btn btn-warning" />
           </div>
        </div>
    }
}

<hr />