@model Fsw.Enterprise.AuthCentral.Areas.UserAccount.Models.RegisterInputModel

@if (!BrockAllen.MembershipReboot.SecuritySettings.Instance.EmailIsUsername)
{
    <div class="form-group">
        @Html.LabelFor(x=>x.Username, new {@class = "control-label col-sm-2 text-right"})
        <div class="col-sm-10">
            @Html.EditorFor(x => x.Username, new {htmlAttributes = new {@class = "form-control"}})
        </div>      
        @Html.ValidationMessageFor(x => x.Username)        
    </div>
}
@{
    var path = "EditorTemplates/Object";
}
@Html.Partial(path, Model)
