<p>You created an account with {applicationName}.</p>

<p>Username: {username}</p>

<p>Please click here to confirm your email address:</p>

<p><a id="confirm" href="{confirmChangeEmailUrl}">{confirmChangeEmailUrl}</a></p>

<p>If this was in error or not requested then click to cancel this request and close this account:</p>

<p><a id="cancel" href="{cancelVerificationUrl}">{cancelVerificationUrl}</a></p>

<p>If you cannot log in, either contact support using the phone number below, or close your account using the cancel link and create it again.</p>
