@{
    Layout = "~/Areas/UserAccount/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "User Account";
}

<div class="container">
    <div class="jumbotron">
        @if (User.Identity.IsAuthenticated) {
            <h2>Signed In</h2>
        }
        else {
            <h2> Not Signed In</h2>
        }
    </div>
    <div class="row">
       <div class="col-sm-6 col-md-4 col-lg-2">
            @if (User.Identity.IsAuthenticated)
            {
                    <p>&nbsp;</p>
            }
            else
            {
                <h2>Login</h2>
                <p>
                    Already have an account? <a href="/useraccount/profile" class="btn btn-success">Login</a>
                </p>
            }
       </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
            <h2>Register</h2>
            <p>
                Need an account?  <a href="/useraccount/register" class="btn btn-success">Register Now &raquo;</a>
            </p>
        </div>
    </div>
</div>