@model string

@{
    ViewBag.Title = "ChangeRequestSuccess";
}

<div class="container">
    <div class="page-header">
        <h2>Change Email Success</h2>
    </div>
</div>

<div class="container page-login">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            You should recieve an email shortly at @Model.
            It will contain instructions to confirm your email change request.
            <p>Thanks!</p>
        </div>
    </div>
</div>