@model string

@{
    ViewBag.Title = "ChangeRequestSuccess";
}

<div class="row">
    <div class="col-xs-12 text-center">
        <h1>Email Successfully Changed</h1>
    </div>
</div>

<div class="row confirm-account">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">

        <div class="row">
            <div class="col-xs-12 text-center">
                <p>You should recieve an email shortly at @Model. It will contain instructions to confirm your email change request.</p>
                <p>@Html.ActionLink("Return to profile", "Edit", "Profile", new { area = "UserAccount" }, null)</a></p>
            </div>
        </div>

    </div>
</div>