@{
    ViewBag.Title = "Auth Central User Account Adminstration";
}

<div class="container">
    <div class="jumbotron">
        <h2>Manage Clients</h2>
        <p>You have two options.</p>
    </div>
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>Find a Client by ClientId</h3>
            @using (Html.BeginForm("Manage", "Client", new {area = "Admin" }, FormMethod.Get, new { @class = "form-horizontal"} )) {
                <div class="form-group">
                    <div  class="control-label col-sm-2 col-md-2 col-lg-2" >
                        <label for="clientId">ClientId</label>
                    </div>
                    <div  class="editor-field col-sm-5 col-md-5 col-lg-5" >
                        <input type="text" class="form-control" id="clientId" name="clientId" placeholder="ClientId">
                    </div>
                    <div  class="control-control col-sm-5 col-md-5 col-lg-5" >
                        <button type="submit" class="btn btn-primary">Search &raquo;</button>
                    </div>
                </div>
            }
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>Create a New Client</h3>
            <p> <a href="/Admin/Client/Create" class="btn btn-primary">Create Client &raquo;</a></p>
        </div>
    </div>
</div>