<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" forwardWindowsAuthToken="false" startupTimeLimit="3600" />
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="support@foodservicewarehouse.com">
        <network host="mailtrap.io" port="2525" enableSsl="true" userName="5043012bc1239eb7e" password="e2b20ba4965b53" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>