@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@model UserClaimModelContainer

@{
    Layout = "~/Areas/Admin/Views/Shared/_UserAdminLayout.cshtml";
    ViewBag.Title = "View User Claim";
}

<div class="row">
    <div class="col-md-12" >
        <a class="btn btn-success" href="/admin/userclaim/create/@Model.UserId">Create Claim</a>
    </div>
</div>

@foreach(var userClaim in Model.UserClaims)
{
    <hr />
    @using (Html.BeginForm("Delete", "UserClaim", new { userId = Model.UserId, area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserId)
        @Html.DisplayFor(model => userClaim)
        <div class="form-group">
           <div class="col-md-offset-2 col-md-10">
               <input type="submit" value="Delete" class="btn btn-warning" />
           </div>
        </div>
    }
}

<hr />