@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<ul class="nav nav-tabs">
    <li><a href="/Admin/Client/Edit/@Model.ClientId">Edit Client: @Model.ClientId</a></li>
    <li><a href="/Admin/ClientSecret/View/@Model.ClientId">View Client Secrets</a></li>
    <li class="dropdown">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Advanced<b class="caret"></b></a>
        <ul role="menu" class="dropdown-menu">
            <li><a href="/Admin/ClientRedirectUri/Edit/@Model.ClientId">Redirect Uri's</a></li>
            <li><a href="/Admin/ClientLogoutUri/Edit/@Model.ClientId">Logout Uri's</a></li>
            <li><a href="/Admin/ClientAllowedScope/Edit/@Model.ClientId">Allowed Scopes</a></li>
            <li><a href="/Admin/ClientClaim/Edit/@Model.ClientId">Client Cliams</a></li>
            <li><a href="/Admin/ClientAllowedCorsOrigin/Edit/@Model.ClientId">Allowed Cors Headers</a></li>
        </ul>
    </li>

</ul>

@Html.ValidationSummary()
<div><em>@ViewData["Message"]</em></div>

@RenderBody()
