@using Fsw.Enterprise.AuthCentral.Areas.Admin.Models
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h3>Client Name: @Model.ClientId</h3>

<ul class="nav nav-pills">
    <li class=""><a href="/Admin/Client/Edit/@Model.ClientId">Client</a></li>
    <li class=""><a href="/Admin/ClientSecret/View/@Model.ClientId">Client Secrets</a></li>
    <li class=""><a href="/Admin/ClientRedireUris/Edit/@Model.ClientId">Redirect Uri's</a></li>
    <li class=""><a href="/Admin/ClientLogoutUris/Edit/@Model.ClientId">Logout Uri's</a></li>
    <li class=""><a href="/Admin/ClientAllowedScopes/Edit/@Model.ClientId">Allowed Scopes</a></li>
    <li class=""><a href="/Admin/ClientClaims/Edit/@Model.ClientId">Client Cliams</a></li>
    <li class=""><a href="/Admin/ClientCorsHeaders/Edit/@Model.ClientId">Allowed Cors Headers</a></li>
    <li class=""><a href="/Admin/ClientCustomGrants/Edit/@Model.ClientId">Allowed Custom Grants</a></li>
</ul>

@Html.ValidationSummary()
<div><em>@ViewData["Message"]</em></div>

@RenderBody()
